.list {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.block {
    display: flex;
    margin-top: 30px;
}

.button {
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid green;
}

.button:last-child {
    background-color: green;
    color: #fff;
}

.button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.list-item {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.round {   
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-right: 10px;
    color: #fff;
}
.round-active {
    background-color: tomato;
    color: #000;
}